@import 'nib'

body
	background black
canvas
	absolute top left
	// width 100%
	// height 100%
	display block
	user-select none
	z-index -1
#main
	absolute bottom left 50%
	width 800px
	height 100px
	margin 0 0 0 -400px
	padding 10px
	border 1px solid black
	border-bottom 0
	border-radius 8px 8px 0 0
	background rgba(100, 100, 200, .5)
	font-size 18px
	overflow hidden
	h1, p, ul
		reset-box-model()
	ul
		list-style none
	li
		float left
		width 64px
		height 64px
		border 1px solid black
		background rgba(200, 100, 100, .5)
		cursor pointer
		transition .2s ease-out
		&:hover
			background lighten(@background, 20%)
		&:active
			background lighten(@background, 40%)
			transition-duration 0s
