@import 'nib'

body
	background black
canvas
	absolute top left
	// width 100%
	// height 100%
	display block
	user-select none
	z-index -1
#main
	absolute right top 50%
	width 100px
	height 800px
	margin -400px 0 0
	padding 10px
	border 1px solid black
	border-right 0
	border-radius left 8px
	background rgba(100, 100, 200, .5)
	font-size 18px
	overflow hidden
	overflow-y auto
	h1, p, ul
		reset-box-model()
	h1
		font-size 18px
	ul
		list-style none
	li
		width 64px
		height 64px
		margin 0 auto
		border 1px solid black
		background rgba(200, 100, 100, .5)
		cursor pointer
		transition .2s ease-out
		&:hover
			background lighten(@background, 20%)
		&:active
			background lighten(@background, 40%)
			transition-duration 0s
