canvas{position:absolute;top:0;left:50%;width:800px;height:600px;display:block;margin:0 0 0 -400px;border:1px solid #000;z-index:-1}
#main{position:absolute;top:600px;left:50%;width:800px;height:100px;margin:0 0 0 -400px;border:1px solid #000;border-top:0;-webkit-border-radius:0 0 8px 8px;border-radius:0 0 8px 8px;background:rgba(100,100,200,0.5)}
