body{background:#000}
canvas{position:absolute;top:0;left:0;display:block;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;z-index:-1}
#main{position:absolute;bottom:0;left:50%;width:800px;height:100px;margin:0 0 0 -400px;padding:10px;border:1px solid #000;border-bottom:0;-webkit-border-radius:8px 8px 0 0;border-radius:8px 8px 0 0;background:rgba(100,100,200,0.5);font-size:18px;overflow:hidden;}
#main h1,#main p,#main ul{margin:0;padding:0;border:0;outline:0}
#main ul{list-style:none}
#main .unit{float:left;width:64px;height:64px;border:1px solid #000;background:rgba(200,100,100,0.5);cursor:pointer;-webkit-transition:.2s ease-out;-moz-transition:.2s ease-out;-o-transition:.2s ease-out;-ms-transition:.2s ease-out;transition:.2s ease-out;}
#main .unit:hover{background:rgba(211,131,131,0.5)}
#main .unit:active{background:rgba(222,162,162,0.5);-webkit-transition-duration:0;-moz-transition-duration:0;-o-transition-duration:0;-ms-transition-duration:0;transition-duration:0}
