@import 'nib'

body
	background black
canvas
	absolute top left
	// width 100%
	// height 100%
	display block
	user-select none
	z-index -1
aside
	absolute right top 50%
	width 75px
	//	TODO:  Make height dynamic (trick being vertical centering).
	height 600px
	margin -(@height / 2) 0 0
	padding 10px 0
	border 1px solid black
	border-right 0
	border-radius left 8px
	background rgba(100, 100, 200, .5)
	font-size 18px
	overflow hidden
	overflow-y auto
	h1, p, ul
		reset-box-model()
	h1
		font-size 18px
	ul
		list-style none
	li
		width 64px
		height 64px
		margin 0 0 0 8px
		border 1px solid black
		background rgba(200, 100, 100, .5)
		cursor pointer
		user-select none
		&:hover
			background lighten(@background, 20%)
		&:active
			background saturate(@background, 80%)
		&.building
			animation build 1.4s 1 linear
@keyframes build
	0%
		transform rotate(0deg)
	100%
		transform rotate(360deg)
